* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}
#root {
    padding: 1rem;
    background: transparent;
}
.credentialsWrapper {
    min-width: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
}
.input_text {
    width: 100%;
    padding: 0.4rem;
    border-radius: 0.4rem;
    border: 1px solid red;
}
.btn {
    min-width: 15rem;
    padding: 0.4rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.4rem;
}
#checkboxLabel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}